body {
    background: #000000;
    color: #999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #000000;
    font-size: 20px;
}

a:hover {
    color: rgb(250, 250, 251);
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,

#work,
#work .fp-slide,
#work .fp-tableCell,

#about,
#about .fp-slide,
#about .fp-tableCell,

#contact,
#contact .fp-slide,
#contact .fp-tableCell,

#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,

footer,
footer .fp-slide,
footer .fp-tableCell {
    height: auto !important;
}

/* end all section */

/* start all heading */
h1,
h2,
h3,
h4,
h5 {
    color: #ffffff;
    font-weight: bold;
}

/* end all heading */

/* start all section */
#work,
#about,
#portfolio,
#contact {
    padding-top: 100px;
    padding-bottom: 120px;
}

/* end all section */


/* start home */
#home {
    background: url('../images/back2.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding-top: 120px;
    padding-bottom: 140px;
    text-align: center;
}

#home h1 {
    border: 2px solid #ff4500;
    color: #ff4500;
    display: inline-block;
    letter-spacing: 6px;
    padding: 18px 35px;
    margin-top: 250px;
}

#home h2 {
    padding-bottom: 10px;
}

#home .btn {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 60px;
    margin-top: 40px;
    padding-top: 18px;
    transition: all 0.4s ease-in-out;
}

#home .btn:hover {
    background: #D43F52;
    border-color: transparent;
}

#home .typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typewriter 8s steps(40) 1;
    color: rgb(252, 252, 252);
    font-size: medium;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* end home */

/* start work */
#work {
    background: #1a1a1a;
}

#work h2 {
    text-align: center;
}

#work .media {
    margin-top: 30px;
}

#work .media .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    font-size: 24px;
    margin-right: 24px;
    width: 60px;
    height: 60px;
    line-height: 55px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-in;
}

#work .media .fa:hover {
    background: #ffffff;
    cursor: pointer;
}

#work .media .media-heading {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

/* end work */

/* start about */
#about h4 {
    padding: 15px 0;
    color: #D43F52;
}

#about .progress {
    border-radius: 4px;
    background: #ffffff;
    height: 4px;
}

#about .progress .progress-bar-danger {
    background: #D43F52;
}

#about .text-top {
    padding-top: 50px;
}

#about span {
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
}

#about small {
    font-weight: bold;
    float: right;
}

/* end about */

/* start portfolio */
#portfolio {
    background: #1a1a1a;
    text-align: center;
}

#portfolio h2 {
    padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #D43F52;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 60px;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(0.9);
}

/* end portfolio */

/* start contact */

#contact address {
    padding-bottom: 18px;
}

#contact .contact-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #ffffff;
}

#contact .fa {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #D43F52;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
}

#contact .fa:hover {
    background-color: #ffffff;
}

#contact .form-control {
    background: transparent;
    border: 2px solid #999;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    margin-bottom: 20px;
}

#contact input {
    height: 50px;
}

#contact input[type="submit"] {
    background: #D43F52;
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
    background: #ffffff;
    color: #D43F52;
}

/* end contact */

/* start footer */
footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

/* end footer */
/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
width: 30px;
height: 20px;
position: relative;
margin: 0px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
display: block;
position: absolute;
height: 3px;
width: 100%;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

.animated-icon1 span {
background: #2d7ef7;
}

.animated-icon2 span {
background: #e3f2fd;
}

.animated-icon3 span {
background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
top: 0px;
}

.animated-icon1 span:nth-child(2) {
top: 10px;
}

.animated-icon1 span:nth-child(3) {
top: 20px;
}

.animated-icon1.open span:nth-child(1) {
top: 11px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

.animated-icon1.open span:nth-child(3) {
top: 11px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
top: 10px;
}

.animated-icon2 span:nth-child(4) {
top: 20px;
}

.animated-icon2.open span:nth-child(1) {
top: 11px;
width: 0%;
left: 50%;
}

.animated-icon2.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}